# -------------------
# 编译产物 & 二进制文件
# -------------------
# 忽略所有 .exe 文件 (Windows 可执行程序)
*.exe
# 忽略所有 .o 和 .obj 文件 (编译中间目标文件)
*.o
*.obj
# 忽略 Linux/Mac 下默认的输出文件
*.out
# 忽略动态链接库
*.dll
*.so
*.dylib

# -------------------
# 项目运行时数据
# -------------------
# 忽略代码中生成的账户数据文件，防止提交由于测试产生的“脏数据”
ATM_data.txt

# -------------------
# 编辑器 & IDE 配置
# -------------------
# 截图看起来像 VS Code，忽略其局部配置文件夹
.vscode/
# 如果你以后用 Visual Studio 或 CLion
.vs/
.idea/
# 临时文件
*.swp

# -------------------
# 操作系统文件
# -------------------
# Mac 系统产生的缩略图缓存
.DS_Store
# Windows 缩略图缓存
Thumbs.db
# 忽略cmake文件
build/
.DS_Store
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
Makefile
*.cmake